<div class="container mb-3">
    <div class="card dropdown" style="width: 100%;">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Author: {{author}}
                    </div>
                    <div class="col-sm text-right">
                        {{createdAt}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3 class="card-text">{{content}}</h3>
                </div>
                <div class="col" *ngIf="photo_url">
                    <img class="img-fluid float-right" style="width: 30vh;" alt="eh" src="{{photo_url}}" >
                </div>
            </div>
        </div>

        <div class="card-footer text-muted">
            <div class="row  gx-5">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="px-2"> {{catOk_count}} </span>
                            <img (click)="countUpDown('catOk')" id="catOk_{{joke_key}}" class="img-fluid" style="width: 5vh;height: 5vh;" alt="eh" src="https://cdn.betterttv.net/emote/6137a8e1af28e956864c6cfc/3x" >
                        </div>
                        <div class="col">
                            <span class="px-2"> {{BASADO_count}} </span>
                            <img (click)="countUpDown('BASADO')" id="BASADO_{{joke_key}}" class="img-fluid" style="width: 5vh;height: 5vh;" alt="eh" src="https://cdn.betterttv.net/emote/6160b07ab63cc97ee6d569ff/3x" >
                        </div>
                        <div class="col">
                            <span class="px-2"> {{questionmark_count}} </span>
                            <img (click)="countUpDown('questionmark')" id="questionmark_{{joke_key}}" class="img-fluid" style="width: 5vh;height: 5vh;" alt="eh" src="https://cdn.betterttv.net/emote/5f196b28fe85fb4472d11fb8/3x" >
                        </div>
                        <button (click)="showCommentsDialog" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                            Comments
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex float-right flex-row bd-highlight mb-3" *ngFor="let key of keys">
                        <div class="p-2 bd-highlight">#{{key}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-comments-dialog [joke_id]="joke_key"></app-comments-dialog>
