<div class="container">
  <header class="jumbotron">
    <h1>trololololo</h1>
    <div class="container-fluid">
      <div class="container">
        <!-- <div class="card">
          <div class="card-header">
            Author: Andrei Toma
          </div>
          <img class="card-img-left" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/EPP_Summit%3B_Meise%2C_Dec._2013_%2811449226465%29_%28cropped_2%29.jpg">
          <img class="img-fluid.w-25 p-3" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/EPP_Summit%3B_Meise%2C_Dec._2013_%2811449226465%29_%28cropped_2%29.jpg">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Prsedeintele cand pleaca din tara, tot presedinte e.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div> -->

        <div class="card" style="width: 100%;">
          <div class="card-header">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  Author: Andrei Toma
                </div>
                <!-- <div class="col-3"></div> -->
                <div class="col-sm text-right">
                  luni, 16 mai 2022 (EEST)
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="card-text">Presedintele cand pleaca din tara....tot presedinte ramane.</h3>
              </div>
              <div class="col">
                <img class="img-fluid float-right" style="width: 30vh;" alt="eh" src="https://upload.wikimedia.org/wikipedia/commons/f/fe/EPP_Summit%3B_Meise%2C_Dec._2013_%2811449226465%29_%28cropped_2%29.jpg" >
              </div>
            </div>
          </div>

          <div class="card-footer text-muted">
            <div class="row  gx-5">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <img class="img-fluid" style="width: 5vh;height: 5vh;" alt="eh" src="https://cdn.betterttv.net/emote/6137a8e1af28e956864c6cfc/3x" >
                  </div>
                  <div class="col">
                    <img class="img-fluid" style="width: 5vh;height: 5vh;" alt="eh" src="https://cdn.betterttv.net/emote/6160b07ab63cc97ee6d569ff/3x" >
                  </div>
                  <div class="col">
                    <img class="img-fluid" style="width: 5vh;height: 5vh;" alt="eh" src="https://cdn.betterttv.net/emote/5e62542ad112fc372573d8da/3x" >
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="d-flex float-right flex-row bd-highlight mb-3">
                  <div class="p-2 bd-highlight">#dark</div>
                  <div class="p-2 bd-highlight">#mom</div>
                  <div class="p-2 bd-highlight">#andrei</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>
</div>
